*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 239, 208);
    cursor: default;
}
.iCodehover{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(img/code-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.iDesignhover{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(img/design-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.iEdithover{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(img/edit-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: rgb(31, 0, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.25rem;
}
.logo{
    font-size: 1.75rem;
    font-weight: bold;
    color: rgb(255, 239, 208);
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: rgb(255, 239, 208);
    font-size:  1.25rem;
    padding: .3125rem 1.5625rem;
    border-radius: 3.125rem;
    transition: 0.2s;
    margin: auto .3125rem;
}
.nav-bar ul li a:hover{
    color: rgb(31, 0, 31);
    background-color: rgb(255, 239, 208);
}
.about-cont{
    width: 100%;
    height: 102vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(31, 0, 31);
}
.about{
    background-color: rgba(255, 239, 208, 0.5);
    padding: 3.125rem;
    border-radius: 1.25rem;
    text-align: center;
    width: 70%;
}
.about-img{
    display: none;
}
.about .name{
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: .625rem;
}
.about .name span{
    background-color: rgb(31, 0, 31);
    color: rgb(255, 239, 208);
    padding: .3125rem 1.25rem .3125rem .625rem;
    border-radius: 0rem 1.25rem 1.25rem 0rem;
    /* text-transform: uppercase; */
}
.doings{
    font-size: 1.875rem;
    margin-bottom: .625rem;
    font-weight: 550;
}
.cde{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    gap: 1.875rem;
}
.cde a{
    text-decoration: none;
    color: rgb(255, 239, 208);
}
.code, .design, .edit{
    background-color: rgb(31, 0, 31);
    color: rgb(255, 239, 208);
    padding: .3125rem 1.25rem;
    font-weight: 550;
    cursor: pointer;
}
.code{
    border-radius: 1.25rem 0rem 0rem 1.25rem;
}
.edit{
    border-radius: 0rem 1.25rem 1.25rem 0rem;
}
.accordion-cont{
    background: url(img/section2-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgb(255, 239, 208); */
    max-height: 200vh;
    width: 100%;
}
.accordion{
    margin: -0.875rem auto auto;
    padding: 3.125rem;
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.accordion .tab{
    color: rgb(255, 239, 208);
    /* background-color: rgba(31, 0, 31, 0.8); */
    /* padding:  0 .625rem; */
    margin: auto .3125rem .3125rem auto;
}
.accordion .tab .content{
    padding: .625rem 1.875rem;
    background-color: rgba(31, 0, 31, 0.8);
}
.accordion .tab .tabhead1{
    background-color: rgb(31, 0, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    font-weight: bolder;
    font-size: 1.875rem;
    cursor: pointer;
}

.roe {
    display: flex;
    align-items: center;
}
.roe img {
    width: 3.125rem;
    padding: .625rem;
    margin: .625rem;
    border-radius: 50%;
    border: .1875rem solid rgb(255, 239, 208);
}
/* .accordion .tab .tabhead1 .sign{
    cursor: pointer;
} */
.drop1{
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    /* background-color: rgba(31, 0, 31, 0.8); */
}
.drop1.active{
    max-height: 31.25rem;
    opacity: 1;
}
.drop2{
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}
.drop2.active{
    max-height: 31.25rem;
    opacity: 1;
}
.drop3{
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}
.drop3.active{
    max-height: 31.25rem;
    opacity: 1;
}
.content img{
    border: .125rem solid rgb(255, 239, 208);
    border-radius: .625rem;
    width: 90%;
}
.content a{
    text-decoration: underline;
    font-weight: 600;
    color: rgb(255, 239, 208);
}
.img{
    margin: 1.25rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.img a{
    text-decoration: none;
}
footer{
    background: linear-gradient(rgba(31, 0, 31, 0.8), rgba(26, 0, 26, 0.8)), url("img/footer-overlay.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 3.125rem;
    color: rgb(255, 239, 208);
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    margin-top: -1.5625rem;
}
.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.125rem;
}
.footer1 img{
    width: 20%;
    border: .125rem solid rgb(255, 239, 208);
    border-radius: 1.25rem 0rem 0rem 1.25rem;
}
.copy{
    text-align: right;
}
.copy p{
    font-size: 1.875rem;
    font-weight: 600;
    /* writing-mode: sideways-lr; */
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .3125rem;
    font-size: 1.25rem;
    font-weight: 600;
}
.befline{
    width: 12.5rem;
    height: .125rem;
    background-color: rgb(255, 239, 208);
}
.befline2{
    width: 100%;
    height: .125rem;
    background-color: rgb(255, 239, 208);
    opacity: 50%;
    border-radius: 1.25rem;
}
.copysign{
    background-color: rgb(255, 239, 208);
    color: rgb(31, 0, 31);
    padding: .1875rem .625rem;
    border-radius: 1.25rem;
}
.footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}
.footer2 img{
    width: 1.875rem;
    transition: all 0.5s ease-in-out;
}
.footer2 img:hover{
    transform: translateY(-0.3125rem);
}
.animflex{
    display: flex;
}
.footeranim{
    text-align: center;
    width: .625rem;
    height: .625rem;
    background-color: rgb(255, 239, 208);
    border-radius: 50%;
    animation: ball 2s ease-in-out infinite alternate;
}
@keyframes ball {
    0% {
        transform: translateX(0rem);
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(65.625rem);
    }
}
.footeranim2{
    text-align: center;
    width: .625rem;
    height: .625rem;
    background-color: rgb(255, 239, 208);
    border-radius: 50%;
    animation: ball 2s ease-in-out 0.1s infinite alternate;
}
.footeranim3{
    text-align: center;
    width: .625rem;
    height: .625rem;
    background-color: rgb(255, 239, 208);
    border-radius: 50%;
    animation: ball 2s ease-in-out 0.2s infinite alternate;
}
.footeranim4{
    text-align: center;
    width: .625rem;
    height: .625rem;
    background-color: rgb(255, 239, 208);
    border-radius: 50%;
    animation: ball 2s ease-in-out 0.3s infinite alternate;
}
.footeranim5{
    text-align: center;
    width: .625rem;
    height: .625rem;
    background-color: rgb(255, 239, 208);
    border-radius: 50%;
    animation: ball 2s ease-in-out 0.4s infinite alternate;
}

@media screen and (max-width: 25rem) {
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/mobile-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 239, 208);
    }
    header{
        padding: 0 1.875rem;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 1.875rem;
        height: .1875rem;
        background-color: rgb(255, 239, 208);
        margin: .375rem 0;
        transition: 0.15s ease-in-out  all;
    }
    .one.open{
        transform: rotate(-45deg);
        margin-top: .9375rem;
    }
    .three.open{
        transform: translateY(-0.5625rem) rotate(45deg);
    }
    .two.open{
        display: none;
    }
    .nav-bar{
        height: 0rem;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(31, 0, 31, 0.9);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 15.625rem;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 5rem auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar ul li a{
        margin-bottom: .75rem;
    }
    .content{
        font-size: .875rem;
    }
    .about{
        padding: 1.875rem .625rem;
        width: 90%;
    }
    .about-img{
        display: block;
        width: 30%;
        border: .125rem solid rgb(31, 0, 31);
        padding: .1875rem;
        border-radius: 50%;
        margin: auto auto 1.25rem;
    }
    .about .name{
        font-size: 1.375rem;
    }
    .doings{
        font-size: 1rem;
    }
    .cde{
        flex-direction: column;
        font-size: 1rem;
        gap: .4375rem;
    }
    .code, .design, .edit{
        width: 40%;
    }
    .code{
        border-radius: 1.25rem 1.25rem 0rem 0rem;
    }
    .edit{
        border-radius: 0rem 0rem 1.25rem 1.25rem;
    }
    .accordion{
        margin: -1.25rem auto auto;
        padding: .625rem;
        width: 90%;
    }
    .accordion .tab .tabhead1{
        font-size: 1.25rem;
        padding: 0rem 1.25rem 0rem .3125rem;
    }
    .accordion .tab .content{
        padding: .625rem 1.25rem;
    }
    .roe img {
        width: 2.5rem;
        padding: .3125rem;
        border: .125rem solid white;
    }
    .drop1{
        transition: 0.5s;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        /* background-color: rgba(31, 0, 31, 0.8); */
    }
    .drop1.active{
        max-height: 125rem;
        opacity: 1;
    }
    .drop2{
        transition: 0.5s;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }
    .drop2.active{
        max-height: 125rem;
        opacity: 1;
    }
    .drop3{
        transition: 0.5s;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }
    .drop3.active{
        max-height: 125rem;
        opacity: 1;
        margin-bottom: 1.25rem;
    }
    .content img{
        border: .125rem solid rgb(255, 239, 208);
        border-radius: .625rem;
        width: 100%;
    }
    .img{
        margin: 1.25rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
    footer{
        padding: .9375rem;
        gap: 2.5rem;
    }
    .footer1{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    .footer1 img{
        width: 50%;
        border-radius: 1.25rem;
    }
    .copy{
        text-align: center;
    }
    .copy p{
        font-size: 1.25rem;
    }
    .copyright{
        margin-top: 1.25rem;
        font-size: 1rem;
    }
    .befline{
        width: 35%;
    }
    .footer2{
        gap: 1.25rem;
    }
    .footer2 img{
        width: 1.25rem;
    }
    .footeranim{
        width: .3125rem;
        height: .3125rem;
    }
    .footeranim2{
        width: .3125rem;
        height: .3125rem;
    }
    .footeranim3{
        width: .3125rem;
        height: .3125rem;
    }
    .footeranim4{
        width: .3125rem;
        height: .3125rem;
    }
    .footeranim5{
        width: .3125rem;
        height: .3125rem;
    }
    @keyframes ball {
        0% {
            transform: translateX(0rem);
            opacity: 0;
        }
        20%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        80%{
            opacity: 0;
        }
        100% {
            opacity: 0;
            transform: translateX(18.75rem);
        }
    }
}
@media screen and (min-width: 25.0625rem) and (max-width: 56.25rem) {
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/mobile-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 239, 208);
    }
    header{
        padding: 0 1.875rem;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 1.875rem;
        height: .1875rem;
        background-color: rgb(255, 239, 208);
        margin: .375rem 0;
        transition: 0.15s ease-in-out  all;
    }
    .one.open{
        transform: rotate(-45deg);
        margin-top: .9375rem;
    }
    .three.open{
        transform: translateY(-0.5625rem) rotate(45deg);
    }
    .two.open{
        display: none;
    }
    .nav-bar{
        height: 0rem;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(31, 0, 31, 0.9);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 15.625rem;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 5rem auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar ul li a{
        margin-bottom: .75rem;
    }
    .content{
        font-size: .875rem;
    }
    .about{
        padding: 1.875rem 1.25rem;
        width: 90%;
    }
    .about-img{
        display: block;
        width: 35%;
        border: .125rem solid rgb(31, 0, 31);
        padding: .1875rem;
        border-radius: 50%;
        margin: auto auto 1.25rem;
    }
    .about .name{
        font-size: 1.375rem;
    }
    .doings{
        font-size: 1rem;
    }
    .cde{
        flex-direction: column;
        font-size: 1rem;
        gap: .4375rem;
    }
    .code, .design, .edit{
        width: 40%;
    }
    .code{
        border-radius: 1.25rem 1.25rem 0rem 0rem;
    }
    .edit{
        border-radius: 0rem 0rem 1.25rem 1.25rem;
    }
    .accordion{
        margin: -1.25rem auto auto;
        padding: .625rem;
        width: 90%;
    }
    .accordion .tab .tabhead1{
        font-size: 1.25rem;
        padding: 0rem 1.25rem 0rem .3125rem;
    }
    .accordion .tab .content{
        padding: .625rem 1.25rem;
    }
    .roe img {
        width: 2.5rem;
        padding: .3125rem;
        border: .125rem solid white;
    }
    .drop1{
        transition: 0.5s;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        /* background-color: rgba(31, 0, 31, 0.8); */
    }
    .drop1.active{
        max-height: 125rem;
        opacity: 1;
    }
    .drop2{
        transition: 0.5s;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }
    .drop2.active{
        max-height: 125rem;
        opacity: 1;
    }
    .drop3{
        transition: 0.5s;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }
    .drop3.active{
        max-height: 125rem;
        opacity: 1;
        margin-bottom: 1.25rem;
    }
    .content img{
        border: .125rem solid rgb(255, 239, 208);
        border-radius: .625rem;
        width: 100%;
    }
    .img{
        margin: 1.25rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
    footer{
        padding: .9375rem;
        gap: 2.5rem;
    }
    .footer1{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    .footer1 img{
        width: 50%;
        border-radius: 1.25rem;
    }
    .copy{
        text-align: center;
    }
    .copy p{
        font-size: 1.25rem;
    }
    .copyright{
        margin-top: 1.25rem;
        font-size: 1rem;
    }
    .befline{
        width: 35%;
    }
    .footer2{
        gap: 1.25rem;
    }
    .footer2 img{
        width: 1.25rem;
    }
    .footeranim{
        width: .3125rem;
        height: .3125rem;
    }
    .footeranim2{
        width: .3125rem;
        height: .3125rem;
    }
    .footeranim3{
        width: .3125rem;
        height: .3125rem;
    }
    .footeranim4{
        width: .3125rem;
        height: .3125rem;
    }
    .footeranim5{
        width: .3125rem;
        height: .3125rem;
    }
    @keyframes ball {
        0% {
            transform: translateX(0rem);
            opacity: 0;
        }
        20%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        80%{
            opacity: 0;
        }
        100% {
            opacity: 0;
            transform: translateX(18.75rem);
        }
    }
}